html {
 height: 100%;
 width: 100%;
 background-color: hsl(262, 54%, 21%);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

@media screen and (max-width: 800px) {
    #grid-section-1 {grid-template-columns: 0.5fr 1.125fr;grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:"video video" "text text" "photo-2 photo-1";}
}

@media screen and (max-width:1119px) {
    #grid-section-1 {flex-wrap: wrap;margin:0 2%;}
}

@media screen and (min-width: 1120px) {
    #grid-section-1 {flex-wrap: nowrap;margin:0 12.5%;}
}

@media screen and (max-width: 1719px) {
    #grid-section-1 {grid-template-columns: 0.5fr 1.125fr;grid-template-rows: 1fr 2.5fr 1fr;
        grid-template-areas:"video video" "text text" "photo-2 photo-1";align-items:center;}
}

@media screen and (min-width: 1720px) {
    #grid-section-1 {grid-template-columns: 0.5fr 1.125fr 2fr;grid-template-rows: 1fr 1fr;
        grid-template-areas:"video video text" "photo-2 photo-1 text";max-height: 100%;}
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Verdana, sans-serif;
}

.header {
 display:flex;
 justify-content: center;
 padding: 2rem 0;
 margin: 1rem;
 align-items: center;
}

.header h1 {
 font-size: 50px;
}

#grid-section-1 {
    display: grid;
    gap: 1rem;
    font-size: 18px;
    line-height: 1.5;
    color: var(--whte);
}

#grid-section-1 * {
    width: 100%;
    height: auto;
    max-height: 100%;
}

figure {
    font-size: 16px;
    line-height: 1.5;
}