html {
 height: 100%;
 width: 100%;
 background-color: hsl(262, 54%, 21%);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

@media screen and (max-width:1119px) {
    #grid-section-1 {flex-wrap: wrap;}
}

@media screen and (min-width: 1120px) {
    #grid-section-1 {flex-wrap: nowrap;margin:0 12.5%;}
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Verdana, sans-serif;
}

.header {
 display:flex;
 justify-content: center;
 padding: 2rem 0;
 margin: 1rem;
 align-items: center;
}

.header h1 {
 font-size: 50px;
}

#grid-section-1 {
    display: grid;
    grid-template-columns: 0.5fr 1.125fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "video video text"
        "photo-2 photo-1 text";
    gap: 1rem;
    max-height: 100%;
    font-size: 18px;
    line-height: 1.5;
    color: var(--whte);
}

#grid-section-1 * {
    width: 100%;
    height: auto;
}

figure {
    font-size: 16px;
    line-height: 1.5;
}