*, *:before, *:after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 clear: both;
 overflow:visible;
}

html {
 height: 100%;
 margin: 0;
 padding: 0;
 background-image: linear-gradient(to bottom, #000000, #5591aa);
}

body {
 margin: 0;
 padding: 0;
}