html {
 height: 100%;
 width: 100%;
 background-color: hsl(221, 63%, 14%);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

#newRelease {}
#album {background-color:hsl(221.54deg, 62.24%, 13.68%);}
#ep {background-color:hsl(216deg, 70.59%, 7.16%);}
#single {background-color:hsl(221.54deg, 62.24%, 3.68%);}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Verdana, sans-serif;
}

@media screen and (max-width: 1001px) {
 .musicSocialLinks {width:10rem;}
 #newRelease {background-color:#f1eedf;min-height:75vh;display:flex;align-items:flex-end;}
 #newRelease h1 {font-size:40px;text-align:center;width:100%;}
 #newRelease h1 {text-align:center;width:100%;}
 #newRelease .header {justify-content:center;max-width:100%;text-align:center;}
 .newCover {max-width:100%;}
}

@media screen and (min-width: 1002px) {
 .musicSocialLinks {width:10rem;}
 #newRelease {background-color:#f1eedf;max-width:100%;min-height:65vh;height:auto;display:flex;align-items:flex-end;}
 #newRelease .container {display:flex;background-image:url(images/IHateMusicPromo2.png);background-repeat:no-repeat;background-size:100% auto;align-items:flex-end;justify-content:flex-end;aspect-ratio:1920/720;}
 #newRelease .header {justify-content:flex-end;max-width:33%;text-align:right}
 .newCover {max-width:33%;margin-left:1rem;}
 #newRelease h1 {font-size:60px;}
}

.header {
 display:flex;
 justify-content: center;
 padding: 2rem 0;
 margin: 1rem;
 align-items: center;
}

.header h1 {
 font-size: 50px;
}

.container {
 padding: 2rem 5%;
}

.container .image-container {
 columns: 15rem 3;
 gap: 1rem;
}

.container .image-container img {
 width: 100%;
 height: auto;
}

.image-container picture {
 margin-bottom: 1rem;
}

.image-container a {
 text-decoration:none;
}

.image-container i {
 color:white;
 font-family: Neuton-Bold;
 font-size:24px;
}

.container .poster-container {
 columns: 25rem 3;
 justify-content: start;
 gap: 1rem;
}

.container .poster-container img {
 width: 100%;
 height: auto;
 margin-bottom: 1rem;
}

.container .video-container {
 columns: 20rem 2;
 justify-content: start;
 gap: 1rem;
}

.container .video-container iframe {
 display: block;
 height: auto;
 width: 100%;
 margin-bottom: 1rem;
 aspect-ratio: 16/9;
}

.musicSocialLinks {
 margin-top:0.5rem;
 gap: 1rem;
 display:grid;
 grid-template-columns:repeat(auto-fit, minmax(16px, 1fr));
 column-count:3;
}

.musicSocialLinks a {
 width: auto;
 height: 100%;
 aspect-ratio: 1/1;
}
