/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pagelinks li {
 margin: 0 8px;
}

@media screen and (max-width: 953px) {
 .desktop-menubar {display:none;}
 .mobile-menubar {display:flex;}
}

@media screen and (min-width: 954px) {
 .desktop-menubar {display:flex;}
 .mobile-menubar {display:none;}
}

.pagelinks a {
 text-decoration: none;
 color: white;
 font-size:20px;
 transition-duration: 0.2s;
 font-family: sans-serif;
 font-weight: bold;
}

.pagelinks a:hover {
 color: gray;
}

#screen-mobile-nav {
 position:fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 10px;
 background-image: linear-gradient(to bottom, #000000, #5591aa);
 z-index: 9999;
 text-align: center;
}

#screen-mobile-nav a {
 text-decoration: none;
 color: white;
 font-size: 20px;
 text-align: center;
 padding: 2rem 4rem;
 display: block;
 font-family: sans-serif;
}